<style>
    #pageBar {
        text-align: right;
        padding: 0 20px 20px 0;
    }
    .pageBtn a {
        display: inline-block;
        border: 1px solid #aaa;
        padding: 2px 5px;
        margin : 0 3px;
        font-size: 13px;
        background: #ECECEC;
        color: black;
        text-decoration: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 3px;
    }
    .pageBtn-selected a {
        display: inline-block;
        border: 1px solid #aaa;
        padding: 2px 5px;
        margin : 0 3px;
        font-size: 13px;
        background: #187BBD;
        color: white;
        text-decoration: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 3px;
    }
    .pageBtn a:hover {
        background: #187BBD;
        color: white;
    }
</style>
<style>

    /* Basic Grey */
    .basic-grey {
        margin-left:auto;
        margin-right:auto;
        max-width: 500px;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 12px Georgia, "Times New Roman", Times, serif;
        color: #888;
        text-shadow: 1px 1px 1px #FFF;
        border:1px solid #E4E4E4;
    }
    .basic-grey h1 {
        font-size: 25px;
        padding: 0px 0px 10px 40px;
        display: block;
        border-bottom:1px solid #E4E4E4;
        margin: -10px -15px 30px -10px;;
        color: #888;
    }
    .basic-grey h1>span {
        display: block;
        font-size: 11px;
    }
    .basic-grey label {
        display: block;
        margin: 0px;
    }
    .basic-grey label>span {
        float: left;
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
        color: #888;
    }
    .basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
        border: 1px solid #DADADA;
        color: #888;
        height: 30px;
        margin-bottom: 16px;
        margin-right: 6px;
        margin-top: 2px;
        outline: 0 none;
        padding: 3px 3px 3px 5px;
        width: 70%;
        font-size: 12px;
        line-height:15px;
        box-shadow: inset 0px 1px 4px #ECECEC;
        -moz-box-shadow: inset 0px 1px 4px #ECECEC;
        -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    }
    .basic-grey textarea{
        padding: 5px 3px 3px 5px;
    }
    .basic-grey select {
        /*background: #FFF url('down-arrow.png') no-repeat right;*/
        /*background: #FFF url('down-arrow.png') no-repeat right);*/
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        width: 70%;
        height: 35px;
        line-height: 25px;
    }
    .basic-grey textarea{
        height:100px;
    }
    .basic-grey .button {
        background: #E27575;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        box-shadow: 1px 1px 5px #B6B6B6;
        border-radius: 3px;
        text-shadow: 1px 1px 1px #9E3F3F;
        cursor: pointer;
    }
    .basic-grey .button:hover {
        background: #CF7A7A
    }

</style>
<style>
    .button {
        display: inline-block;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        margin-left: 20px;
    }
    .button:hover {
        text-decoration: none;
    }
    .button:active {
        position: relative;
        top: 1px;
    }
    .blue {
        color: #d9eef7;
        border: solid 1px #0076a3;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
        background: -moz-linear-gradient(top,  #00adee,  #0078a5);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    }
    .blue:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        background: -moz-linear-gradient(top,  #0095cc,  #00678e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
    }
    .blue:active {
        color: #80bed6;
        background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
        background: -moz-linear-gradient(top,  #0078a5,  #00adee);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
    }
</style>
<div class="view-product">
    <div class="authority">
        <div class="authority-head">
            <div class="manage-head">
                <h6 class="layout padding-left manage-head-con">
                    <{$page_title}>
                </h6>
            </div>
        </div>
        <div>
            <a href="javascript:void 0;" onclick="addNode()" class="button blue">添加</a>
        </div>
        <div class="authority-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        权限组
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        最后登录时间
                    </th>
                    <th>
                        最后登录IP
                    </th>
                    <th>
                        是否生效
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tbody id="nodeInfo" >

                </tbody>
                </thead>
            </table>
            <div class="show-page padding-big-right">
                <div class="page">
                    <div class="page" id="pageBar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //页面加载时初始化分页
    $(function() {
        $.ajax({
            url:"<{$PATHPREFIX}>/AjaxTable/",
            type:"post",
            dataType:"json",
            beforeSend: function() {
                data_html = '<tr class="td w15">\n' +
                    '加载中. . .\n' +
                    '</tr>';
                document.getElementById('nodeInfo').innerHTML = data_html;
            },
            success:function(json){
                document.getElementById('nodeInfo').innerHTML = '';
                if (json.code != '401'){
                    var data_content = json.data_content;
                    var data_html = "";
                    $.each(data_content,function(index,array) {
                        data_html += '<tr>'+
                            '<td>\n' +
                            ''+array.id+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.username+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.action+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.action_operate+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.name+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.remark+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.sort+'\n' +
                            '</td>\n' +
                            '<a style="color: red" onclick="delNode(this,'+array.id+')">删除</a> | <a onclick="editNode('+array.id+')">编辑</a>\n' +
                            '</td>' +
                            '</tr>';
                    });
                    document.getElementById('nodeInfo').innerHTML = data_html;
                }else {
                    data_html = '<div class="td w15">\n' +
                        '暂时没有数据\n' +
                        '</div>';
                    document.getElementById('nodeInfo').innerHTML = data_html;
                }
            }
        });
    });

    function delNode(e,id) {
        layer.confirm('您确定要删除节点吗？', {
            btn: ['确定','取消'], //按钮
            title:'删除节点'
        }, function(){
            $.ajax({
                url:"<{$PATHPREFIX}>/AjaxTable/delNode",
                type:"post",
                dataType:"json",
                data:{id:id},
                success:function(data){
                    if (data['code'] == '201'){
                        layer.msg('删除成功',{icon: 1});
                        e.parentNode.parentNode.remove();
                    }else {
                        layer.msg('删除失败',{icon: 2});
                    }
                }
            });
        });
    }

    function editNode(id) {
        $.ajax({
            url:"<{$PATHPREFIX}>/AjaxTable/editNode",
            type:"post",
            dataType:"json",
            data:{id:id},
            success:function(data){
                if (data.show == 1){
                    var show = "<select name=\"show\">\n" +
                        "<option value=\"1\" aria-checked='true'>是</option>\n" +
                        "<option value=\"0\">否</option>\n" +
                        "</select>"
                }else {
                    var show = "<select name=\"show\">\n" +
                        "<option value=\"0\" aria-checked='true'>否</option>\n" +
                        "<option value=\"1\">是</option>\n" +
                        "</select>"
                }
                if (data.status == 1){
                    var status = "<select name=\"status\">\n" +
                        "<option value=\"1\" aria-checked='true'>正常</option>\n" +
                        "<option value=\"0\">关闭</option>\n" +
                        "</select>"
                }else {
                    var status = "<select name=\"status\">\n" +
                        "<option value=\"0\" aria-checked='true'>关闭</option>\n" +
                        "<option value=\"1\">正常</option>\n" +
                        "</select>"
                }
                layer.open({
                    type: 1,
                    title: '修改节点',
                    closeBtn: 0,
                    area: ['500px', '360px'],
                    shadeClose: true,
                    content: "<form action='<{$PATHPREFIX}>/Purview/updateNode' method='post' id='edit' class='STYLE-NAME basic-grey'>" +
                    "                <label>" +
                    "                    <span>ID:</span>" +
                    "                    <input id=\"name\" type=\"text\" name=\"id\" value="+data.id+">" +
                    "                </label>" +
                    "\n" +
                    "                <label>" +
                    "                    <span>Controller:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"controller\" value="+data.controller+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>Action:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"action\" value="+data.action+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>Ajax-Action:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"action_operate\" value="+data.action_operate+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>名称:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"name\" value="+data.name+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>备注:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"remark\" value="+data.remark+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>排序:</span>\n" +
                    "                    <input id=\"email\" type=\"text\" name=\"sort\" value="+data.sort+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>父ID:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"pid\" value="+data.pid+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>状态:</span>" +
                    status
                    +
                    "                </label><br>" +
                    "                <label>" +
                    "                    <span>显示:</span>" +
                    show
                    +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>&nbsp;</span>" +
                    "                    <input type=\"submit\" class=\"button\" value=\"修改\" >" +
                    "                </label>" +
                    "            </form>"
                });
            }
        });
    }

    function addNode() {
        layer.open({
            type: 1,
            title: '添加节点',
            closeBtn: 0,
            area: ['500px', '360px'],
            shadeClose: true,
            content: "<form action='<{$PATHPREFIX}>/Purview/updateNode' method='post' id='edit' class='STYLE-NAME basic-grey'>" +
            "                <label>" +
            "                    <span>ID:</span>" +
            "                    <input id=\"name\" type=\"text\" name=\"id\" value=''>" +
            "                </label>" +
            "\n" +
            "                <label>" +
            "                    <span>Controller:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"controller\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>Action:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"action\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>Ajax-Action:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"action_operate\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>名称:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"name\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>备注:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"remark\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>排序:</span>\n" +
            "                    <input id=\"email\" type=\"text\" name=\"sort\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>父ID:</span>" +
            "                    <input id=\"email\" type=\"text\" name=\"pid\" value=''>" +
            "                </label>" +
            "                <label>" +
            "                    <span>状态:</span>" +
            "<select name=\"status\">\n" +
            "<option value=\"1\" aria-checked='true'>正常</option>\n" +
            "<option value=\"0\">关闭</option>\n" +
            "</select>"
            +
            "                </label><br>" +
            "                <label>" +
            "                    <span>显示:</span>" +
            "<select name=\"show\">\n" +
            "<option value=\"1\" aria-checked='true'>是</option>\n" +
            "<option value=\"0\">否</option>\n" +
            "</select>"
            +
            "                </label>" +
            "                <label>" +
            "                    <span>&nbsp;</span>" +
            "                    <input type=\"submit\" class=\"button\" value=\"添加\" >" +
            "                </label>" +
            "            </form>"
        });
    }
</script>
