<style>
    #pageBar {
        text-align: right;
        padding: 0 20px 20px 0;
    }
    .pageBtn a {
        display: inline-block;
        border: 1px solid #aaa;
        padding: 2px 5px;
        margin : 0 3px;
        font-size: 13px;
        background: #ECECEC;
        color: black;
        text-decoration: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 3px;
    }
    .pageBtn-selected a {
        display: inline-block;
        border: 1px solid #aaa;
        padding: 2px 5px;
        margin : 0 3px;
        font-size: 13px;
        background: #187BBD;
        color: white;
        text-decoration: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 3px;
    }
    .pageBtn a:hover {
        background: #187BBD;
        color: white;
    }
</style>
<style>

    /* Basic Grey */
    .basic-grey {
        margin-left:auto;
        margin-right:auto;
        max-width: 500px;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 12px Georgia, "Times New Roman", Times, serif;
        color: #888;
        text-shadow: 1px 1px 1px #FFF;
        border:1px solid #E4E4E4;
    }
    .basic-grey h1 {
        font-size: 25px;
        padding: 0px 0px 10px 40px;
        display: block;
        border-bottom:1px solid #E4E4E4;
        margin: -10px -15px 30px -10px;;
        color: #888;
    }
    .basic-grey h1>span {
        display: block;
        font-size: 11px;
    }
    .basic-grey label {
        display: block;
        margin: 0px;
    }
    .basic-grey label>span {
        float: left;
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
        color: #888;
    }
    .basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
        border: 1px solid #DADADA;
        color: #888;
        height: 30px;
        margin-bottom: 16px;
        margin-right: 6px;
        margin-top: 2px;
        outline: 0 none;
        padding: 3px 3px 3px 5px;
        width: 70%;
        font-size: 12px;
        line-height:15px;
        box-shadow: inset 0px 1px 4px #ECECEC;
        -moz-box-shadow: inset 0px 1px 4px #ECECEC;
        -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    }
    .basic-grey textarea{
        padding: 5px 3px 3px 5px;
    }
    .basic-grey select {
        /*background: #FFF url('down-arrow.png') no-repeat right;*/
        /*background: #FFF url('down-arrow.png') no-repeat right);*/
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        width: 70%;
        height: 35px;
        line-height: 25px;
    }
    .basic-grey textarea{
        height:100px;
    }
    .basic-grey .button {
        background: #E27575;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        box-shadow: 1px 1px 5px #B6B6B6;
        border-radius: 3px;
        text-shadow: 1px 1px 1px #9E3F3F;
        cursor: pointer;
    }
    .basic-grey .button:hover {
        background: #CF7A7A
    }

</style>
<div class="view-product">
    <div class="authority">
        <div class="authority-head">
            <div class="manage-head">
                <h6 class="layout padding-left manage-head-con">
                    <{$page_title}>
                </h6>
            </div>
        </div>
        <div class="authority-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Controller
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Ajax-Action
                        </th>
                        <th>
                            名称
                        </th>
                        <th>
                            备注
                        </th>
                        <th>
                            排序
                        </th>
                        <th>
                            父ID
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            显示
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    <tbody id="nodeInfo" >
                        <!--<div class="td w20">-->
                            <!--我的系统-->
                        <!--</div>-->
                        <!--<div class="td w20">-->
                            <!--localhost-->
                        <!--</div>-->
                        <!--<div class="td w15">-->
                            <!--&#45;&#45;-->
                        <!--</div>-->
                        <!--<div class="td w15">-->
                            <!--2016-01-10 11:54:07-->
                        <!--</div>-->
                        <!--<div class="td w15">-->
                            <!--<a href="#" class="button-word2">无</a>-->
                        <!--</div>-->
                        <!--<div class="td w15">-->
                            <!--<a href="#" msg="您是否删除此站点，如果删除会影响站点通信导致部分功能无法使用？" callback="del_site(624)" data-id="" class="button-word2 btn_ajax_confirm">删除</a>-->
                        <!--</div>-->
                    </tbody>
                </thead>
            </table>
            <div class="show-page padding-big-right">
                <div class="page">
                    <div class="page" id="pageBar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var curPage;        //当前页数
    var totalItem;      //总记录数
    var pageSize;       //每一页记录数
    var totalPage;      //总页数

    //页面加载时初始化分页
    $(function() {
        nodeInfo(1);
    });

    /**
     * @param pageNum
     */
    function nodeInfo(pageNum) {
        $.ajax({
            url:"<{$PATHPREFIX}>/AjaxTable/nodes",
            type:"post",
            dataType:"json",
            data:{pageNum:pageNum},
            beforeSend: function() {
                data_html = '<div class="td w15">\n' +
                    '加载中. . .\n' +
                    '</div>';
                document.getElementById('nodeInfo').innerHTML = data_html;
            },
            success:function(json){
                document.getElementById('nodeInfo').innerHTML = '';
                if (json.code != '401'){
                    totalItem = json.totalItem;
                    pageSize = json.pageSize;
                    curPage = pageNum;
                    totalPage = json.totalPage;
                    var data_content = json.data_content;
                    var data_html = "";
                    $.each(data_content,function(index,array) {
                        data_html += '<tr>'+
                            '<td>\n' +
                            ''+array.id+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.controller+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.action+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.action_operate+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.name+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.remark+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.sort+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.pid+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.status+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            ''+array.show+'\n' +
                            '</td>\n' +
                            '<td>\n' +
                            '<a style="color: red" onclick="delNode(this,'+array.id+')">删除</a> | <a onclick="editNode('+array.id+')">编辑</a>\n' +
                            '</td>' +
                            '</tr>';
                    });
                    document.getElementById('nodeInfo').innerHTML = data_html;
                    //加载分页
                    getPageBar();
                }else {
                    data_html = '<div class="td w15">\n' +
                        '暂时没有数据\n' +
                        '</div>';
                    document.getElementById('nodeInfo').innerHTML = data_html;
                }
            }
        });
    }

    //获取分页条（分页按钮栏的规则和样式根据自己的需要来设置）
    function getPageBar()
    {
        if(curPage > totalPage) {
            curPage = totalPage;
        }
        if(curPage < 1) {
            curPage = 1;
        }

        pageBar = "";

        //如果不是第一页
        if(curPage != 1){
            pageBar += "<span class='pageBtn'><a href='javascript:turnPage(1)'>首页</a></span>";
            pageBar += "<span class='pageBtn'><a href='javascript:turnPage("+(curPage-1)+")'><<</a></span>";
        }

        //显示的页码按钮(5个)
        var start,end;
        if(totalPage <= 5) {
            start = 1;
            end = totalPage;
        } else {
            if(curPage-2 <= 0) {
                start = 1;
                end = 5;
            } else {
                if(totalPage-curPage < 2) {
                    start = totalPage - 4;
                    end = totalPage;
                } else {
                    start = curPage - 2;
                    end = curPage + 2;
                }
            }
        }
        for(var i=start;i<=end;i++) {
            if(i == curPage) {
                pageBar += "<span class='pageBtn-selected'><a href='javascript:turnPage("+i+")'>"+i+"</a></span>";
            } else {
                pageBar += "<span class='pageBtn'><a href='javascript:turnPage("+i+")'>"+i+"</a></span>";
            }
        }
        //如果不是最后页
        if(curPage != totalPage){
            pageBar += "<span class='pageBtn'><a href='javascript:turnPage("+(parseInt(curPage)+1)+")'>>></a></span>";
            pageBar += "<span class='pageBtn'><a href='javascript:turnPage("+totalPage+")'>尾页</a></span>";
        }
        var Record = "   <span>每页"+pageSize+"条   共"+totalItem+"条</span>";
        $("#pageBar").html(pageBar+Record);
    }

    function delNode(e,id) {
        layer.confirm('您确定要删除节点吗？', {
            btn: ['确定','取消'], //按钮
            title:'删除节点'
        }, function(){
            $.ajax({
                url:"<{$PATHPREFIX}>/AjaxTable/delNode",
                type:"post",
                dataType:"json",
                data:{id:id},
                success:function(data){
                    if (data['code'] == '201'){
                        layer.msg('删除成功',{icon: 1});
                        e.parentNode.parentNode.remove();
                    }else {
                        layer.msg('删除失败',{icon: 2});
                    }
                }
            });
        });
    }

    function editNode(id) {
        $.ajax({
            url:"<{$PATHPREFIX}>/AjaxTable/editNode",
            type:"post",
            dataType:"json",
            data:{id:id},
            success:function(data){
                if (data.show == 1){
                    var show = "<input type=\"checkbox\" value=\"1\" name=\"show\" checked>\n"
                }else {
                    var show = "<input type=\"checkbox\" value=\"0\" name=\"show\">\n"
                }
                if (data.status == 1){
                    var status = "<input type=\"checkbox\" value=\"1\" name=\"status\" checked>\n"
                }else {
                    var status = "<input type=\"checkbox\" value=\"0\" name=\"status\">\n"
                }
                layer.open({
                    type: 1,
                    title: '修改节点',
                    closeBtn: 0,
                    area: ['500px', '360px'],
                    shadeClose: true,
                    content: "<form action='<{$PATHPREFIX}>/Purview/updateNode' method='post' id='edit' class='STYLE-NAME basic-grey'>" +
                    "                <label>" +
                    "                    <span>ID:</span>" +
                    "                    <input id=\"name\" type=\"text\" name=\"id\" value="+data.id+">" +
                    "                </label>" +
                    "\n" +
                    "                <label>" +
                    "                    <span>Controller:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"controller\" value="+data.controller+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>Action:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"action\" value="+data.action+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>Ajax-Action:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"action_operate\" value="+data.action_operate+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>名称:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"name\" value="+data.name+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>备注:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"remark\" value="+data.remark+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>排序:</span>\n" +
                    "                    <input id=\"email\" type=\"text\" name=\"sort\" value="+data.sort+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>父ID:</span>" +
                    "                    <input id=\"email\" type=\"text\" name=\"pid\" value="+data.pid+">" +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>状态:</span>" +
                    status
                    +
                    "                </label><br>" +
                    "                <label>" +
                    "                    <span>显示:</span>" +
                    show
                     +
                    "                </label>" +
                    "                <label>" +
                    "                    <span>&nbsp;</span>" +
                    "                    <input type=\"submit\" class=\"button\" value=\"修改\" >" +
                    "                </label>" +
                    "            </form>"
                });
            }
        });
    }
</script>

