<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><{$page_title}></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/Public/admin.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/Public/Css/identify.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/Public/layer/theme/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Css/control_index.css" />
    <link href="/Public/Css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Public/Css/bootstrap.min.css" />
    <script type="text/javascript" src="/Public/Js/jquery.peity.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Public/Js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Public/layer/layer.js"></script>
    <script type="text/javascript" src="/Public/Js/haidao.offcial.general.js"></script>
    <script type="text/javascript" src="/Public/Js/select.js"></script>
    <script type="text/javascript" src="/Public/Js/haidao.validate.js"></script>
</head>
<body>
<div class="view-topbar">
    <div class="topbar-console">
        <div class="tobar-head fl">
            <a href="#" class="topbar-logo fl">
                <span><img src="/Public//Images/logo.png" width="20" height="20"/></span>
            </a>
            <a href="<{$PATHPREFIX}>/" class="topbar-home-link topbar-btn text-center fl"><span>管理控制台</span></a>
        </div>
    </div>
    <div class="topbar-info" style="height: 50px">
        <ul class="fr">
            <li class="fl dropdown topbar-notice topbar-btn">
                <a href="#" class="dropdown-toggle">
                    <span class="icon-notice"></span>
                    <span class="topbar-num have">0</span>
                    <!--have表示有消息，没有消息去掉have-->
                </a>
            </li>
            <!--<li class="fl topbar-info-item strong">-->
            <!--<div class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle topbar-btn">-->
                <!--<span class="fl">工单服务</span>-->
                <!--<span class="icon-arrow-down"></span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">我的工单</a></li>-->
                    <!--<li><a href="#">提交工单</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--</li>-->

            <li class="fl topbar-info-item">
                <div class="dropdown">
                    <a href="#" class="topbar-btn">
                        <span class="fl text-normal">帮助与文档</span>
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">模板开发手册</a></li>
                        <li><a href="#">某某数据字典</a></li>
                    </ul>
                </div>
            </li>
            <li class="fl topbar-info-item">
                <div class="dropdown">
                    <a href="#" class="topbar-btn">
                        <span class="fl text-normal"><{$username}></span>
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" onclick="pwdinput()">修改密码</a></li>
                        <li><a href="<{$PATHPREFIX}>/Login/loginout">退出</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    function pwdinput() {
        layer.open({
            type: 3,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            content: '<form class="register-form" autocomplete="off" >\n' +
            '\t\t\t\t\t<div class="num-box ">\n' +
            '\t\t\t\t\t\t<div class="area fl">\n' +
            '\t\t\t\t\t\t\t新密码\n' +
            '\t\t\t\t\t\t</div>\n' +
            '\t\t\t\t\t\t<input type="text" placeholder="请输入密码" autofocus="true" id="pwd" name="password" datatype="m" >\n' +
            '\t\t\t\t\t</div>\n' +
            '\t\t\t\t\t<input type="button" onclick="newpwd()" class="btn text-center login-btn" value="修改">\n' +
            '\t\t\t\t</form>'
        });
    }

    function newpwd() {
        var pwd = document.getElementById('pwd').value;
        if (pwd == ''){
            layer.msg('密码不能为空');
        }else {
            window.location.href = "<{$PATHPREFIX}>/Ajax/changePwd?password="+pwd+"";
        }
    }
</script>