<div class="view-sidebar">
    <div class="sidebar-content">
        <!--<div class="sidebar-nav">-->
            <!--<div class="sidebar-title">-->
                <!--<a href="#">-->
                    <!--<span class="icon"><b class="fl icon-arrow-down"></b></span>-->
                    <!--<span class="text-normal">产品与服务</span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<ul class="sidebar-trans">-->
                <!--<li>-->
                    <!--<a href="webSet.html">-->
                        <!--<b class="sidebar-icon"><img src="/Public/Images/icon_author.png" width="16" height="16" /></b>-->
                        <!--<span class="text-normal">站点管理</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="sidebar-nav sidebar-nav-fold">
            <div class="sidebar-title">
                <{if in_array("Purview/index",$menu)}>
                <a href="#">
                    <span class="icon"><b class="fl icon-arrow-down"></b></span>
                    <span class="text-normal">权限管理</span>
                </a>
                <{/if}>
            </div>
            <ul class="sidebar-trans" style="overflow: hidden; display: none;">
                <{if in_array("Purview/nodes",$menu)}>
                <li>
                    <a href="<{$PATHPREFIX}>/Purview/nodes">
                        <b class="sidebar-icon"><img src="/Public/Images/icon_cost.png" width="16" height="16" /></b>
                        <span class="text-normal">节点列表</span>
                    </a>
                </li>
                <{/if}>
                <{if in_array("Purview/group",$menu)}>
                <li>
                    <a href="<{$PATHPREFIX}>/Purview/group">
                        <b class="sidebar-icon"><img src="/Public/Images/icon_cost.png" width="16" height="16" /></b>
                        <span class="text-normal">权限分组</span>
                    </a>
                </li>
                <{/if}>
                <{if in_array("Purview/account",$menu)}>
                <li>
                    <a href="<{$PATHPREFIX}>/Purview/account">
                        <b class="sidebar-icon"><img src="/Public/Images/icon_cost.png" width="16" height="16" /></b>
                        <span class="text-normal">GM管理</span>
                    </a>
                </li>
                <{/if}>
            </ul>
        </div>
    </div>
</div>